.none {
  display: none;
}
.block {
  display: block;
}
.header-box .ipt-box {
  display: flex;
  align-items: center;
}
.header-box .ipt-box:last-child {
  padding-top: 20px;
}
.header-box .ipt-box label {
  width: 60px;
}
.header-box .nav-list .item {
  display: inline-block;
  cursor: pointer;
  margin-right: 25px;
  padding-bottom: 10px;
}
.header-box .nav-list .item:hover {
  border-bottom: 1px solid skyblue;
}
.header-box .nav-list .item:hover .item-list-wrop {
  display: block;
}
.header-box .nav-list .item .item-list-wrop {
  display: none;
  position: relative;
}
.header-box .nav-list .item-list {
  position: absolute;
  text-align: center;
  box-shadow: 0 4px 8px 6px rgba(7, 17, 21, 0.06);
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 8px;
  top: 10px;
  width: 80px;
  left: -10px;
  z-index: 10;
  color: #000;
}
.header-box .nav-list .item-item {
  width: 100%;
  padding: 5px 0;
}
.header-box .nav-list .item-item a {
  color: #000;
}
.header-box .nav-list .item-item:hover a {
  color: skyblue;
}
.header-box .nav-list .login {
  display: inline-block;
}
.header-box .nav-list .icon-box {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}
.header-box .nav-list .icon-box:hover .select {
  display: block;
}
.header-box .nav-list .icon-box .icon {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 50%;
  overflow: hidden;
}
.header-box .nav-list .icon-box .select {
  position: absolute;
  left: -50px;
  width: 110px;
  top: 50px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 4px 8px 6px rgba(7, 17, 21, 0.06);
  display: none;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}
.header-box .nav-list .icon-box .select::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  left: 60px;
  top: -10px;
}
.header-box .nav-list .icon-box .select .option {
  padding: 5px;
  color: #333;
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
}
.header-box .nav-list .icon-box .select .option:hover {
  color: skyblue;
}
.header-box .nav-list .icon-box .select .option:last-child {
  border-bottom: 0;
}
.header-box .nav-list-phone {
  display: none;
}
.header-box .header {
  padding: 10px 40px;
  text-align: right;
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 10;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}
.header-box .header a {
  color: #fff;
}
.header-box .header .header-left {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
.header-box .header .header-left span {
  cursor: pointer;
}
.header-box .header .header-left-phone,
.header-box .header .header-center-phone,
.header-box .header .header-right-phone {
  display: none;
}
.header-box .header .header-right {
  display: flex;
  align-items: center;
}
.header-box .header .nav-list {
  padding-top: 12px;
  display: flex;
  align-items: center;
}
.header-box .header .login {
  color: skyblue;
  cursor: pointer;
}
.header-box .header .search {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
  width: 240px;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.header-box .header .search input {
  width: 200px;
  height: calc(100% - 10px);
  color: black;
}
.header-box .header .search img {
  width: 20px;
  cursor: pointer;
}
.header-box .back {
  background-color: white;
  color: #000;
  box-shadow: 0 4px 8px 6px rgba(7, 17, 21, 0.06);
}
.header-box .back .search {
  border: 1px solid #000;
}
.header-box .back a {
  color: #000;
}
@media (max-width: 1200px) {
  .header-box .header {
    padding: 0.1rem 0.3rem;
    align-items: center;
    height: 0.8rem;
  }
  .header-box .header .header-right {
    display: none;
  }
  .header-box .header .header-left {
    display: none;
  }
  .header-box .header .login {
    font-size: 0.3rem;
  }
  .header-box .header .header-left-phone {
    display: block;
    position: relative;
    width: 0.5rem;
  }
  .header-box .header .header-left-phone .icon {
    position: absolute;
    right: 0.05rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-box .header .header-left-phone .icon img {
    width: 0.5rem;
    height: 0.5rem;
  }
  .header-box .header .header-center-phone {
    display: flex;
    justify-content: space-between;
    display: block;
  }
  .header-box .header .header-center-phone .header-center-title {
    font-size: 0.2rem;
  }
  .header-box .header .header-center-phone .search {
    margin-right: 0;
    width: 5rem;
    height: 0.5rem;
  }
  .header-box .header .header-center-phone .search input {
    width: calc(5rem - 0.6rem);
  }
  .header-box .header .header-center-phone .search img {
    width: 0.4rem;
    height: 0.4rem;
  }
  .header-box .header .header-right-phone {
    position: relative;
    display: block;
  }
  .header-box .header .header-right-phone .icon {
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    width: 0.52rem;
    height: 0.52rem;
  }
  .header-box .header .header-right-phone .icon img {
    width: 0.5rem;
    height: 0.5rem;
  }
  .header-box .header .header-right-phone .select {
    display: none;
  }
  .header-box .header .header-right-phone .select-active {
    display: block;
    position: absolute;
    width: 2rem;
    right: 0.2rem;
    text-align: center;
    background-color: #fff;
    color: #000;
    bottom: -0.7rem;
    box-shadow: 0 4px 8px 6px rgba(7, 17, 21, 0.06);
  }
  .header-box .header .header-right-phone .select-active::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    left: 1.6rem;
    top: -0.16rem;
  }
  .nav-list-phone {
    color: #000;
    font-size: 0.16rem;
    display: block;
  }
  .nav-list-phone .item-list-top {
    color: #000;
    text-align: left;
    font-size: 16px;
    padding: 0.1rem;
  }
  .nav-list-phone a {
    color: #000;
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 0.1rem;
  }
  .nav-list-phone .item-list-wrop {
    height: 0;
    overflow: hidden;
    padding-left: 0.1rem;
    padding-bottom: 0.2rem;
    display: none;
  }
  .nav-list-phone .item-list-wrop-active {
    height: 100%;
    overflow: auto;
    display: block;
  }
  .nav-list-phone-white {
    background: #fff;
  }
  .nav-list-phone-white .search {
    border: 1px solid #000;
  }
  .nav-list-phone-white a {
    color: #000;
  }
  .nav-list-phone-white .item-list-top {
    color: #000;
  }
  .nav-list-phone-white .item-item {
    border-bottom: 1px solid rgba(155, 155, 155, 0.3);
  }
  .nav-list-phone-white .item-item:last-child {
    border-bottom: 0;
  }
  .nav-list-phone-white .item-list-wrop {
    background: #fff;
  }
}
